<br/>
<div>
  <div class="container">
    <div class="row-fluid">
     <div class="span7">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
      <div class="span5">
     	 {% snippet 'home/snippets/info.html' %}
      </div>
    </div>
  </div>
</div>
<div class="row1">
	<div class="container">
		<div class="row-fluid">
		  <div class="span6">
			
			
			{% snippet 'home/snippets/search.html' %}
			
			<!--<div class="twitter-box box">
			<a class="twitter-timeline" href="https://twitter.com/AdUmbria" data-widget-id="304489918074327040">Tweets di @AdUmbria</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div> -->
		  </div>
		
                  <div class="span6">
			<!-- {% snippet 'home/snippets/proponi2.html' %} -->
		  </div>

                  <div class="span6">
			 {% snippet 'home/snippets/featuredRecent.html' %}
		  </div>

        	</div>
	  </div>
</div>
		
<div class="row2">
 </div> 

