{% resource 'example_theme/feedreader.js' %}


  
	<section class="box module module-narrow module-shallow">
	  <header class="module-heading">
	  
		<h3 class="media-heading">{% trans %}In primo piano{% endtrans %}</h3>
		
	  </header>
	  
	  <!--<div id="divRss" class="padded" data-module="feedreader" data-module-url="http://rss.cnn.com/rss/edition.rss"></div> -->
	  <div id="divRss" class="padded" data-module="feedreader" data-module-owlid="owl-carousel" data-module-url="http://agendadigitale.regione.umbria.it/category/open-data/feed"></div>
	  
	</section>


